@model IEnumerable<AlgebraPredbiljezbeApp.Data.Predbiljezba>

@{
    ViewData["Title"] = "Index";
}

@using (Html.BeginForm("Index", "Predbiljezba", FormMethod.Get))
{
    <label>Pretraga: </label>@Html.TextBox("naziv")
    <input type="submit" value="Pretraži">
}


<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Seminar
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Odaberi</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seminar.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prezime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datum, "{MM/dd/yyyy}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>
