@model IEnumerable<AlgebraPredbiljezbeApp.Data.Seminar>

@{
    ViewData["Title"] = "Seminari";
}

@using (Html.BeginForm("Index", "Seminar", FormMethod.Get))
{
    <label>Pretraga: </label>@Html.TextBox("naziv")
    <input type="submit" value="Pretraži">
}


<p>
    <a asp-action="Create">Novi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Popunjen)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datum)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.Popunjen)
                </td>
            </tr>
        }
    </tbody>
</table>
